---
layout: default
title: About
---

<h1 class="pageHeader">About</h1>

<div class="spacer16"></div>

<p>
  Hi! I'm Murdo, a product person currently at KPMG where I specialize in financial services and mobile-driven experiences.
</p>

<p>
  I grew up in Scotland but now live in Toronto, Canada with my wife and daughter.
</p>

<p>
  In my spare time, I work on a few side projects like <a href="https://wallstreetsbest.app">Wall Street's Best iOS stickers</a>.
</p>

<!-- <div class="achievements">
  <h2>Speaking</h2>
  {% for item in site.data.achievements %} {% if item.type == "speaking" %}
  <a href="{{ item.link }}" target="_BLANK">
    <div class="table-row">
      <p class="">{{ item.name }}</p>
      <div class="table-metadata">
        <h5 class="table-location">{{ item.location }}</h5>
        <h5 class="table-date">{{ item.date | date: "%b %Y" }}</h5>
      </div>
    </div>
  </a>
  {% endif %} {% endfor %}
  
  <h2>Media appearance</h2>
  {% for item in site.data.achievements %} {% if item.type == "media" %}
  <a href="{{ item.link }}" target="_BLANK">
    <div class="table-row">
      <p class="">{{ item.name }}</p>
      <div class="table-metadata">
        <h5 class="table-location">{{ item.location }}</h5>
        <h5 class="table-date">{{ item.date | date: "%b %Y" }}</h5>
      </div>
    </div>
  </a>
  {% endif %} {% endfor %} -->
