---
layout: default
title: About
---

<h1 class="pageHeader">About Murdo</h1>

<div class="spacer16"></div>

<p>
  Hi! I'm Murdo, a product manager in Toronto. I grew up in Scotland. I
  currently work oat KPMG.
</p>

<p>
  In my spare time, I work on a bunch of side projects like
  <a href="https://wallstreetsbest.app">WallStreetsBest</a>.
</p>
<!-- <div class="achievements">
  <h2>Speaking</h2>
  {% for item in site.data.achievements %} {% if item.type == "speaking" %}
  <a href="{{ item.link }}" target="_BLANK">
    <div class="table-row">
      <p class="">{{ item.name }}</p>
      <div class="table-metadata">
        <h5 class="table-location">{{ item.location }}</h5>
        <h5 class="table-date">{{ item.date | date: "%b %Y" }}</h5>
      </div>
    </div>
  </a>
  {% endif %} {% endfor %}
  
  <h2>Media appearance</h2>
  {% for item in site.data.achievements %} {% if item.type == "media" %}
  <a href="{{ item.link }}" target="_BLANK">
    <div class="table-row">
      <p class="">{{ item.name }}</p>
      <div class="table-metadata">
        <h5 class="table-location">{{ item.location }}</h5>
        <h5 class="table-date">{{ item.date | date: "%b %Y" }}</h5>
      </div>
    </div>
  </a>
  {% endif %} {% endfor %} -->
