---
layout: default
title: About
---

<h1 class="pageHeader">Hi!</h1>

<div class="spacer16"></div>

<p>
  I'm Murdo, a <em> strategy and product consultant</em> currently at KPMG where I specialize in financial services and mobile-centric experiences. I've also dabbled in healthcare, government, and retail during my nine years with the firm.
</p>

<p>
  I grew up in Scotland and now live in Toronto, Canada with my wife, daughter, and two dogs.
</p>

<p>
  In my spare time, I work on a few side projects like <a href="https://wallstreetsbest.app">Wall Street's Best iOS stickers</a>, write about financial services, and experiment with blockchains. I also love to read; you can find my recommendations <a href="https://murdo.xyz/reading">here</a>.
</p>

<div class="achievements">
  <h2>Speaking</h2>
  {% for item in site.data.achievements %} {% if item.type == "speaking" %}
  <a href="{{ item.link }}" target="_BLANK">
    <div class="table-row">
      <p class="">{{ item.name }}</p>
      <div class="table-metadata">
        <h5 class="table-location">{{ item.location }}</h5>
        <h5 class="table-date">{{ item.date | date: "%b %Y" }}</h5>
      </div>
    </div>
  </a>
  {% endif %} {% endfor %}
  
  <h2>Publications</h2>
  {% for item in site.data.achievements %} {% if item.type == "publication" %}
  <a href="{{ item.link }}" target="_BLANK">
    <div class="table-row">
      <p class="">{{ item.name }}</p>
      <div class="table-metadata">
        <h5 class="table-location">{{ item.location }}</h5>
        <h5 class="table-date">{{ item.date | date: "%b %Y" }}</h5>
      </div>
    </div>
  </a>
  {% endif %} {% endfor %}
