---
layout: resume
title: "Resume"
---
<h1><strong>Murdo Connochie</strong></h1>
<p><strong>A creative strategist and product manager with 9 years experience building businesses and leading teams at KPMG. </strong>Learn more at <a href="https://murdo.xyz/">murdo.xyz</a>.</p>

<h2><em>Experience</em></h2>
<div style="display: grid; grid-template-columns: auto auto;">
  <div>
    <h3>KPMG</h3>
    <p>Toronto, Canada</p>
  </div>
  <div style="text-align: right;">
    <h3>Manager, Customer & Strategy Consulting</h3>
    <p>October 2014 to Present</p>
  </div>
</div>

<ul style="margin-top: 0;">
  <li>Extensive knowledge of strategy and proposition development, with skills in business analysis and service design</li>
  <li>Lead large cross-functional teams of 10-30 across Strategy, Engineering, Operations, Design, and Marketing</li>
  <li>Qualifications include: CIMA / CGMA, Certified ScrumMaster, and ITIL v3 Foundation Level</li>
</ul>

<h3>Example Client Work:</h3>

{% for item in site.data.work %} {% if item.company == "KPMG" %}
      <h2>{{ item.name }}</h2>
    </div>
    <p>{{ item.description }}</p>
  </section>
{% endif %}
{% endfor %}

<div style="display: grid; grid-template-columns: auto auto;">
  <div>
    <h3>Liberty Mutual Insurance</h3>
    <p>Boston, MA</p>
  </div>
  <div style="text-align: right;">
    <h3>Analyst, Digital Strategy</h3>
    <p>June 2013 to August 2013</p>
  </div>
</div>

{% for item in site.data.work %} {% if item.company == "Liberty Mutual Insurance" %}
      <h2>{{ item.name }}</h2>
    </div>
    <p>{{ item.description }}</p>
  </section>
{% endif %}
{% endfor %}

<div class="achievements" style="margin-top: 0;">
  <h2"><em>Speaking</em></h2>
  {% for item in site.data.achievements %} {% if item.type == "speaking" %}
  <a href="{{ item.link }}" target="_BLANK">
    <div class="table-row">
      <p class="">{{ item.name }}</p>
      <div class="table-metadata">
        <h5 class="table-location">{{ item.location }}</h5>
        <h5 class="table-date">{{ item.date | date: "%b %Y" }}</h5>
      </div>
    </div>
  </a>
  {% endif %} {% endfor %}

  <h2><em>Publications</em></h2>
  {% for item in site.data.achievements %} {% if item.type == "publication" %}
  <a href="{{ item.link }}" target="_BLANK">
    <div class="table-row">
      <p class="">{{ item.name }}</p>
      <div class="table-metadata">
        <h5 class="table-location">{{ item.location }}</h5>
        <h5 class="table-date">{{ item.date | date: "%b %Y" }}</h5>
      </div>
    </div>
  </a>
  {% endif %} {% endfor %}
</div>

<br>

<h2><em>Education</em></h2>

<div style="display: grid; grid-template-columns: auto auto;">
  <div>
    <h3>Heriot-Watt University</h3>
    <p>Edinburgh, UK</p>
  </div>
  <div style="text-align: right;">
    <h3>Bachelor of Actuarial Science</h3>
    <p>2010-2014</p>
  </div>
</div>

<hr>

<div style="display: inline;">
  <p style="display: inline;">Email: <a href="mailto:murdo.connochie@gmail.com" style="display: inline;">murdo.connochie@gmail.com</a></p>
  <p style="display: inline; float: right;">Phone: +1 (437) 973-9844</p>
</div>
