---
layout: resume
title: "Resume"
---
<h1><strong>Murdo Connochie</strong></h1>
<p>A creative strategist and product manager with 9 years experience building businesses and leading teams at KPMG. <strong>Learn more at <a href="https://murdo.xyz/">murdo.xyz</a></strong>.</p>

<h2><em>Experience</em></h2>
<div style="display: inline;">
  <h3 style="display: inline;">KPMG</h3>
  <p style="display: inline; float: right;">Toronto, Canada</p>
</div>

<div style="display: inline;">
  <p style="display: inline;"><strong>Manager, Customer & Strategy Consulting</strong></p>
  <p style="display: inline; float: right;">October 2014 to Present</p>
</div>

<ul>
  <li>Extensive knowledge of strategy and proposition development, with skills in business analysis and service design</li>
  <li>Lead large cross-functional teams of 10-30 across Strategy, Engineering, Operations, Design, and Marketing</li>
</ul>

<h3>Example Client Work:</h3>

{% for item in site.data.work %} {% if item.company == "KPMG" %}
      <h2>{{ item.name }}</h2>
    </div>
    <p>{{ item.description }}</p>
  </section>
{% endif %}
{% endfor %}

<p style="margin-bottom: 0;"><strong>Qualifications</strong></p>
<ul style="margin-top: 0;">
  <li>CIMA / CGMA</li>
  <li>Certified ScrumMaster</li>
  <li>ITIL v3 Foundation Level</li>
</ul>

<div class="achievements">
  <h2>Speaking</h2>
  {% for item in site.data.achievements %} {% if item.type == "speaking" %}
  <a href="{{ item.link }}" target="_BLANK">
    <div class="table-row">
      <p class="">{{ item.name }}</p>
      <div class="table-metadata">
        <h5 class="table-location">{{ item.location }}</h5>
        <h5 class="table-date">{{ item.date | date: "%b %Y" }}</h5>
      </div>
    </div>
  </a>
  {% endif %} {% endfor %}
  
  <h2>Publications</h2>
  {% for item in site.data.achievements %} {% if item.type == "publication" %}
  <a href="{{ item.link }}" target="_BLANK">
    <div class="table-row">
      <p class="">{{ item.name }}</p>
      <div class="table-metadata">
        <h5 class="table-location">{{ item.location }}</h5>
        <h5 class="table-date">{{ item.date | date: "%b %Y" }}</h5>
      </div>
    </div>
  </a>
  {% endif %} {% endfor %}
<br>
<div style="display: inline;">
  <h3 style="display: inline;">Liberty Mutual Insurance</h3>
  <p style="display: inline; float: right;">Boston, MA</p>
</div>

<div style="display: inline;">
  <h3 style="display: inline;">Analyst, Digital Strategy</h3>
  <p style="display: inline; float: right;">June 2013 to August 2013</p>
</div>

{% for item in site.data.work %} {% if item.company == "Liberty Mutual Insurance" %}
      <h2>{{ item.name }}</h2>
    </div>
    <p>{{ item.description }}</p>
  </section>
{% endif %}
{% endfor %}

<h2><em>Education</em></h2>

<div style="display: inline;">
  <h3 style="display: inline;">Heriot-Watt University</h3>
  <p style="display: inline; float: right;">2010-2014</p>
</div>

<div style="display: inline;">
  <h3 style="display: inline;">Bachelor of Actuarial Science</h3>
  <p style="display: inline; float: right;">Edinburgh, UK</p>
</div>

<hr>

<div style="display: inline;">
  <p style="display: inline;">Email: <a href="mailto:murdo.connochie@gmail.com" style="display: inline;">murdo.connochie@gmail.com</a></p>
  <p style="display: inline; float: right;">Phone: +1 (437) 973-9844</p>
</div>
