---
layout: resume
title: "Resume"
---
<h1><strong>Murdo Connochie</strong></h1>
<p>A creative strategist and product manager building businesses and leading teams at KPMG. <strong>Learn more at <a href="https://murdo.xyz/">murdo.xyz</a></strong>.</p>

<h2>Experience</h2>

<h3>KPMG</h3><p>Toronto, Canada</p>

<p><strong>Manager, Customer & Strategy Consulting</strong></p><p>October 2014 to Present</p>

<ul>
  <li>Extensive knowledge of strategy and proposition development, with skills in business analysis and service design</li>
  <li>Lead cross-functional teams from Strategy, Technology, Operations, Risk, and People; typical team size of 2-5 strategists, business analysts, or user researchers</li>
</ul>

<h3>Example Client Work:</h3>

{% for item in site.data.work %} {% if item.company == "KPMG" %}
      <h2>{{ item.name }}</h2>
    </div>
    <p>{{ item.description }}</p>
  </section>
{% endif %}
{% endfor %}

<p><strong>Qualifications</strong></p>
<ul>
  <li>CIMA / CGMA</li>
  <li>Certified ScrumMaster</li>
  <li>ITIL v3 Foundation Level</li>
</ul>

<div class="achievements">
  <h2>Speaking</h2>
  {% for item in site.data.achievements %} {% if item.type == "speaking" %}
  <a href="{{ item.link }}" target="_BLANK">
    <div class="table-row">
      <p class="">{{ item.name }}</p>
      <div class="table-metadata">
        <h5 class="table-location">{{ item.location }}</h5>
        <h5 class="table-date">{{ item.date | date: "%b %Y" }}</h5>
      </div>
    </div>
  </a>
  {% endif %} {% endfor %}
  
  <h2>Publications</h2>
  {% for item in site.data.achievements %} {% if item.type == "publication" %}
  <a href="{{ item.link }}" target="_BLANK">
    <div class="table-row">
      <p class="">{{ item.name }}</p>
      <div class="table-metadata">
        <h5 class="table-location">{{ item.location }}</h5>
        <h5 class="table-date">{{ item.date | date: "%b %Y" }}</h5>
      </div>
    </div>
  </a>
  {% endif %} {% endfor %}
<br>
<h3>Liberty Mutual Insurance</h3>
<p>Boston, MA</p>

<p><strong>Analyst, Digital Strategy</strong></p>
<p>June 2013 to August 2013</p>

<ul>
  <li>Researched future mobile technologies to modernize the company's mobile strategy</li>
  <li>Collaborated with technical and business staff in design and build of a customer-facing iOS and Android application</li>
  <li>Prototyped iOS wallet insurance card to simplify customer identification</li>
</ul>

<h2>Education</h2>

<h3>Heriot-Watt University</h3>
<p>2010-2014</p>
<p><strong>Bachelor of Actuarial Science</strong>, Edinburgh, UK</p>

<hr>

<p>Email: <a href="mailto:murdo.connochie@gmail.com">murdo.connochie@gmail.com</a></p>
<p>Phone: +1 (437) 973-9844
