---
layout: resume
title: "Resume"
---

<div style="display: grid; grid-template-columns: auto auto;">
  <div>
    <h3>{{ include.company }}</h3>
    <p>{{ include.location }}</p>
  </div>
  <div style="text-align: right;">
    <h3>{{ include.title }}</h3>
    <p>{{ include.dates }}</p>
  </div>
</div>

{% for item in site.data.work %} 
{% if item.company == include.company %}
  <h2>{{ item.name }}</h2>
  <ul>
    {% for bullet in item.bullets %}
      <li>{{ bullet }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% endfor %}
<hr>
