<footer>
   
    <h6 class="footnote">
        {% if page.author != null %}
        This post was written by {{ page.author }} on {{page.date | date: "%d %b %Y"}} in {{ page.location }}.
        {% endif %}
        <br>
        Find me elsewhere on <a href="http://warpcast.com/murdo">Farcaster</a> and <a href="https://www.linkedin.com/in/murdoconnochie/">LinkedIn</a>. Email me at murdo.connochie@gmail.com, especially about mobile products, coffee, crypto, immigration, and climbing. This site was redesigned in 2023.
    </h6>
</footer>
